@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  scrollbar-color: #6969dd #fedf51;
  scrollbar-width: 20px;
}

html {
  font-family: "Exo 2";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}
body {
  margin: 0;
  background-color: #caf0f8;
}

.fUnbounded {
  font-family: "Unbounded";
}

.bgNavbar {
  background-image: url("../assets/bg.jpg");
  margin: -30px;
  z-index: -1;
  opacity: 30%;
  background-repeat: repeat;
  background-size: 300%;
  mix-blend-mode: darken;
  position: absolute;
}

.bgPage {
  background-image: url("../assets/bg.jpg");
  opacity: 30%;
  background-size: 100%;
  mix-blend-mode: darken;
  background-repeat: repeat;
  position: absolute;
  /* box-shadow: 0 0 30px 30px white inset; */
}

.overlay-text {
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  transform: rotate();
}
